.wysiwyg {
    &--content {
        p {
            max-width: $measure-wide;
            line-height: $line-height-copy;
        }

        ul {
            max-width: $measure-wide;
            line-height: $line-height-copy;
        }
    }
}